.item {
  padding: 2px 4px;
  &:hover {
    background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-4));
  }

  &[data-copied] {
    color: var(--mantine-color-teal-filled);
  }
}
